.technology {
  background-color: #f5f5f5;
  min-height: 410px;
  padding: 41px;
  border-bottom: 2px solid #cc4141;
  width: 35%; // TODO: make responsive
  margin: 0 10px 10px 10px;
  text-align: center;
}
