$ssw-red: #CC4141;

html{
  font-size: 1px;/*for using REM units*/
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
}

h1 {
  padding-top: 120px;
  max-width: 80%;
  margin: 0 auto;
  font-size: 45rem;
  font-weight: 300;
  strong {
    color: $ssw-red;
    font-weight: 400;
  }
}

h2 {
  padding-top: 20px;
  max-width: 80%;
  margin: 0 auto;
  font-size: 28rem;
  font-weight: 300;
}

h3 {
  font-size: 28rem;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  font-size: 28rem;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

section h5 {
  font-size: 1.2rem;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  line-height: inherit;
}

p {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  line-height: inherit;
}