.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .technology {
        width: 33%;
        background-color: #f5f5f5;
        min-height: 410px;
        padding: 41px;
        border-bottom: 2px solid #CC4141;
        margin: 20px;
        text-align: center;
      }      
}
  
