<footer>
  <section>
    <a [routerLink]="['/consulting/azure']" routerLinkActive="router-link-active"><img alt="Azure" src="/assets/images/logos/azure-115x115.jpg" /><span>Built on the Microsoft Azure Platform</span></a>
  </section>
  <section class="wip">
    <p className="copyright">&copy; Copyright SSW 1990-2019. All Rights Reserved.</p>
    <nav>
      <ul><li>Feedback to SSW</li><li>Terms and Conditions</li><li>Sitemap</li></ul>
    </nav>
    <p className="devops">Our website is under CONSTANT CONTINUOUS DEPLOYMENT. The lastest deployment to SYDIISP03 is listed HERE.</p>
  </section>
</footer>
