.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .benefit {
        text-align: left;
        width: 30%;
        padding: 45px 55px;

        img {
            max-width: 140px;
            float: left;
        }

      }      
}
  
