@import "resets.scss";

header, main, footer {
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
}

img.youtube {
  max-width: 100%;
  margin: 20px;
  @media (max-width: 768px) {
    max-width: 80%;
    margin: 10px 10%;
  }
}
.wip {
  display: none !important;
}
