@import "../../../../../resets.scss";

button {
  transition: all .1s;
  background: $ssw-red;
  box-shadow: 0 1px 1px #333;
  color: #fff!important;
  border-bottom: 0!important;
  font-weight: 400;
  font-size: 25.6rem;
  padding: 30px 0;
  margin-top: 50px;
  width: 43%;
  &.ripple {
    background-position: center;
    transition: background 0.5s;
    &:hover {
      background: #cc1010 radial-gradient(circle, transparent 1%, #cc1010 1%) center/15000%;
    }
    &:active {
      background-color: #dd1111;
      background-size: 100%;
      transition: background 0s;
    }
  }
  
  
}

section {
  padding-bottom: 100px;
  color: #ffffff;
  text-align: center;
  background-image: url(../../../../../assets/images/backgrounds/consulting-benefits.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.hero {
    background: rgba(0,0,0,.75) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    max-width: 100%;
    color: #ffffff;
    border-bottom: 4px solid #cc4141;

    video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &.testimonials {
    padding: 100px 0;
    background: #ffffff;
    color: #333;
  }
  &.clients {
    background: #f5f5f5;
    color: #333;  
  }
  &.about-ssw {
    background-image: url(../../../../../assets/images/backgrounds/consulting-about.jpg);
    img { 
      float: left;
    }
  }

  &.technologies {
    padding: 100px 0;
    background: #ffffff;
    color: #333;
  }

}

section.call-to-action {
  background-color: #f5f5f5;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


